.content {
	margin-top: 10px;
	margin-bottom:10px;
}
.boxes {
	margin-top: 10px;
	margin-bottom:10px;
	position: relative;
	font-size : xx-small;
	text-align: center;
	vertical-align: middle;
}
.box {
	position: absolute;
	width: 29px;
	height: 29px;
	border:1px solid;
	font-size: xx-small;
	background-color: #E0E0E0;
}
.selected {
	background-color: #000066;
}