
<p>口座連携エラーのためスクレイピングスキップしました。</p>
<p>エラー発生日時　<%= @account.error_date.strftime("%Y年%m月%d日 %H時%M分") %></p>

<p>エラー回数　<%= @account.error_count %>回</p>

<p>エラー発生した金融機関は、<%= @account.fnc_nm %>になります</p>

<p>（注）<br>
このメールは、登録メールアドレス宛に自動的にお送りしています。ご登録された覚えのない場合はお手数ですが以下お問い合わせ先までご連絡ください。
  なお、このメールは送信専用となり返信できません。</p>

==============

<p>OsidOri（オシドリ）<br>https://www.osidori.co/</p>

<p>お問い合わせ先<br>https://www.osidori.co/faq</p>

<p>利用規約<br>https://www.osidori.co/terms</p>

<p>プライバシーポリシー<br>https://www.osidori.co/privacy</p>

(C) OsidOri.inc
