<p>OsidOriへようこそ！</p>

<p>この度はご登録いただきありがとうございます。<br>
下記URLをクリックして、登録を完了しましょう。</p>

<p>◆ 登録完了用の URL<br>
<a href="<%= Settings.api_url %>/activate.html?token=<%= @token %>"><%= Settings.api_url %>/activate.html?token=<%= @token %></a></p>

<p>（注）<br>
URLをクリック後しばらくしてもアプリが開かない場合は、URLをコピーしSafariかChromeなどのブラウザに貼り付けて開いて下さい。</p>

<p>◆ このメールについて<br>
このメールは、登録メールアドレス宛に自動的にお送りしています。<br>
ご登録された覚えのない場合はお手数ですが以下お問い合わせ先までご連絡ください。<br>
なお、このメールは送信専用となり返信できません。<br>
============== <br>
OsidOri（オシドリ）<br> 
https://www.osidori.co/ <br>
お問い合わせ <br> 
https://www.osidori.co/support/ <br>
利用規約 <br> 
https://www.osidori.co/terms/ <br>
プライバシーポリシー <br> 
https://www.osidori.co/privacy/ <br>
(C) OsidOri.inc</p>