<p>【OsidOri】パスワードの再設定をしてください</p>

<p>こんにちは、OsidOriです。</p>
<p>下記のURLをクリックし、パスワード再設定手続きにお進みください。
  （手続きを完了するとパスワードが変更されます）</p>

<p><a href="<%= Settings.api_url %>/user/change_password.html?token=<%= @token %>"><%= Settings.api_url %>/user/change_password.html?token=<%= @token %></a></p>
<p>※URLの有効期限は1時間以内です</p>

<p>（注）<br>
  このメールは、登録メールアドレス宛に自動的にお送りしています。ご登録された覚えのない場合はお手数ですが以下お問い合わせ先までご連絡ください。
  なお、このメールは送信専用となり返信できません。</p>

==============

<p>OsidOri（オシドリ）<br>https://www.osidori.co/</p>

<p>お問い合わせ先<br>https://www.osidori.co/faq</p>

<p>利用規約<br>https://www.osidori.co/terms</p>

<p>プライバシーポリシー<br>https://www.osidori.co/privacy</p>

(C) OsidOri.inc
