version: '3'
services:
  app:
    build:
      context: .
      dockerfile: rails.Dockerfile
    volumes:
      - .:/app:cached
    ports:
      - 3000:3000
    environment:
      - DB_HOST=db # osidoridevdb.cbukuyrfnctk.ap-northeast-1.rds.amazonaws.com
      - DB_PORT=3306
      - DB_NAME=dev_osdr_db
      - DB_USER=devusr
      - DB_PWD=pass
      - TZ=Asia/Tokyo

    # production
    #command:  bundle exec rake db:create RAILS_ENV=production
    #command:  bundle exec rake db:migrate RAILS_ENV=production
    #command:  bundle exec rake db:seed RAILS_ENV=production

    #command:  bundle exec puma -t 5:5 -p 3000 -e production -C config/puma/production.rb
    #env_file: .env.production
    #env_file: .env.staging

    # development
    command:  bundle exec rails s -p 3000 -b 0.0.0.0 -e development
    env_file: .env.development

    depends_on: 
      - db
  db:
    build:
      context: .
      dockerfile: mysql.Dockerfile
    environment:
      MYSQL_ROOT_PASSWORD: pwd
      MYSQL_USER: devusr
      MYSQL_PASSWORD: pass
      MYSQL_DATABASE: dev_osdr_db
      TZ: "Asia/Tokyo"
    ports:
      - 3307:3306
    volumes:
      - ./tmp/db/mysql_data:/var/lib/mysql # データの永続化
      - ./docker/db/sql:/docker-entrypoint-initdb.d # 初期データ投入
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci --innodb-use-native-aio=0
