version: '3'
services:
  app:
    build:
      context: .
      dockerfile: docker/api/Dockerfile
    volumes:
      - .:/app:cached
    ports:
      - 3000:3000
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    depends_on:
      - db
  db:
    build:
      context: .
      dockerfile: docker/db/Dockerfile
    environment:
      MYSQL_ROOT_PASSWORD: pwd
      MYSQL_USER: devusr
      MYSQL_PASSWORD: pass
      MYSQL_DATABASE: dev_osdr_db
    ports:
      - 3307:3306
    volumes:
      - ./tmp/db/mysql_data:/var/lib/mysql # データの永続化
      - ./docker/db/sql:/docker-entrypoint-initdb.d # 初期データ投入
